.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1001;
}

.modalBody {
  display: flex;
  align-items: flex-start;
}

.modalPoster {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.modalPoster img {
  max-width: 100%;
  border-radius: 10px;
}

.modalDetails {
  flex: 2;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commentsSection {
  margin-top: 20px;
  flex-grow: 1;
  /* overflow-y: auto; */
  max-height: 200px;
}

.commentsList {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  /* max-height: 150px;
  overflow-y: auto; */
  /* border: 1px solid #ccc;
  border-radius: 5px; */
  max-height: 150px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.commentsList li {
  margin-bottom: 10px;
}

.commentInputSection {
  position: absolute;
  bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  width: 60%;
}

.commentInputSection input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 7px;
  font-family: "Noto Sans Japanese";
  width: 100%;
}

.commentInputSection button {
  padding: 12px 20px;
  background-color: #535455;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.commentInputSection button:hover {
  background-color: #0056b3;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
}
.commentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eaeaea;
}

.deleteButton {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  flex-shrink: 0;
}

.deleteButton:hover {
  background-color: darkred;
}

.editButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  flex-shrink: 0;
}
